@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
:root {
  --main--color: #008148;
  --second--color: #1e3932;
}

body {
  background: linear-gradient(90deg, #2ecc71 60%, #27ae60 40.1%);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}
.box {
  background: white;
  display: flex;
  flex-direction: column;
  padding: 25px 25px;
  border-radius: 20px;
  box-shadow: 0 0 128px rgba(0, 0, 0, 0.3), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
}
.form-box {
  width: 450px;
  margin: 0px 10px;
}
.form-box header {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 10px;
}
.form-box form .field {
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
}

.form-box form .input input {
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn {
  height: 35px;
  background: var(--main--color);
  border: 0;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 10px;
  padding: 0px 10px;
}

.btn:hover {
  opacity: 0.82;
}

.submit {
  width: 100%;
}

.link {
  margin-bottom: 15px;
}
.mesagge {
  text-align: center;
  background: #ebdbc8;
  padding: 15px 0px;
  border: 1px solid #696969;
  border-radius: 5px;
  margin-bottom: 10px;
  color: red;
}
